@import "tailwindcss";

*{
    color: #fff;
}

#tasklist::-webkit-scrollbar{
    display: none;

}

html,
body {
  background: #0f172a;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}